doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Сетки
        link(rel="stylesheet" href="style.css")
    body
        .container.grid-container
            .grid-card.bg1
            .grid-card.bg2
            .grid-card.bg3
            .grid-card.bg4
            .grid-card.bg5
            .grid-card.bg6
            .grid-card.bg7
            .grid-card.bg8
            .grid-card.bg9
            .grid-card.bg10
            .grid-card.bg11
            .grid-card.bg12