body
  margin 0
  width 100vw
  height 100vh
  background #222
  overflow hidden
  display flex
  justify-content center
  align-items center

.container
  width 100vw
  height 100vh
  max-width 370px
  max-height 700px
  background-color #151719
  border-radius 20px
  box-sizing border-box
  padding 20px

.grid-container
  display grid
  grid-template-columns repeat(3, auto)
  grid-template-rows repeat(4, 20%)
  align-content flex-start
  grid-gap 20px


.grid-card
  border-radius 1px

.bg1
  background url("static/img/home.png") center no-repeat

.bg2
  background url("static/img/cloud.png") center no-repeat #808080

.bg3
  background url("static/img/search.png") center no-repeat

.bg4
  background url("static/img/star.png") center no-repeat #42aaff

.bg5
  background url("static/img/settings.png") center no-repeat

.bg6
  background url("static/img/video.png") center no-repeat #808080

.bg7
  background url("static/img/video.png") center no-repeat

.bg8
  background url("static/img/search.png") center no-repeat #30d5c8

.bg9
  background url("static/img/home.png") center no-repeat

.bg10
  background url("static/img/settings.png") center no-repeat #808080

.bg11
  background url("static/img/user.png") center no-repeat

.bg12
  background url("static/img/star.png") center no-repeat
